:root {
  --dark_bg: #121212;
  --dark_color: white;
  --dark_progress: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);

  --light_bg: white;
  --light_color: black;
  --light_progress: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --light-border: #121212;

  --info-primary: #3498DB80;
  --info-secondary: #3498db;

  --success-primary: #07BC0D80;
  --success-secondary: #07bc0c;

  --warning-primary: #F1C40F80;
  --warning-secondary: #f1c40f;

  --error-primary: rgba(231 77 60 / 0.5);
  --error-secondary: #e74c3c;
}


.toast {
  background-color: var(--light_bg);
  color: var(--light_color);
  cursor: pointer;
  border: 1px solid var(--light-border);
  width: 250px;
  position: relative;
  user-select: none;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  transform: translateX(110%);
  transition: transform 250ms cubic-bezier(0.08, 0.52, 0.52, 1);
  margin-left: auto;
  overflow: hidden;
  display: flex;
}

.toast-container[data-position$="-right"] .toast {
  transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
  transform: translateX(-110%);
}

.toast-container[data-position="top-center"] .toast {
  transform: translateY(-100vh);
}

.toast-container[data-position="bottom-center"] .toast {
  transform: translateY(100vh);
}

.toast-container .toast.show {
  transform: translate(0, 0);
}

.toast-container .toast.show {
  transform: translateX(0);
}

.toast.can-close::after {
  content: '\2716';
  position: absolute;
  font-size: 11px;
  top: 4px;
  right: 9px;
}


.toast-container {
  font-family: inherit;
  position: fixed;
  margin: 10px;
}


.toast-container[data-position^='top-'] {
  top: 0;
}


.toast-container[data-position^='bottom-'] {
  bottom: 0;
}


.toast-container[data-position$="-right"] {
  right: 0;
}


.toast-container[data-position$="-left"] {
  left: 0;
}


.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}


.toast.progress::before {
  content: '';
  position: absolute;
  height: 3px;
  width: calc(100% * var(--progress));
  bottom: 0;
  left: 0;
  right: 0;
}


.toast.progress.info::before {
  background: var(--info-secondary);
}

.toast.progress.success::before {
  background: var(--success-secondary);
}

.toast.progress.warning::before {
  background: var(--warning-secondary);
}

.toast.progress.error::before {
  background: var(--error-secondary);
}

.toast.progress.dark::before {
  background: var(--dark_progress);
}

.toast.progress.light::before {
  background: var(--light_progress);
}


.Type_svg {
  width: 15px;
  margin-top: 1.3px;
  margin-right: 10px;
}